@import "../../styles/initialization.scss";

.container {
  min-height: var(--opportunities-highlight-height-large);
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 6rem 0;
  background-color: var(--color-very-light-gray);
  align-items: center;
}

.flashcards-container,
.details-container {
  width: 100%;
  background-color: var(--color-very-light-gray);
  display: flex;
  align-items: flex-start;
}

.flashcards-container {
  justify-content: flex-end;
}

.details-container {
  justify-content: flex-start;
  flex-direction: column;
  gap: 2.4rem;
}

.details-note {
  font-family: "proximanova", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: var(--color-slightly-light-gray);
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.7rem;
  font-weight: 600;

  span {
    font-family: Helvetica, Arial, sans-serif;
  }
}

.details-heading {
  font-family: "greycliffcf", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.8rem;
  word-wrap: break-word;
  height: 5.6rem;
  width: 70%;
}

.details-paragraph {
  font-family: "proximanova", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  max-width: 80%;

  span {
    font-family: Helvetica, Arial, sans-serif;
  }
}

.details-btn {
  font-family: "proximanova", Helvetica, Arial, sans-serif;
  outline: none;
  border: none;
  padding: 0.7rem 1.8rem;
  border: 0.35rem solid var(--color-smoky-black);
  border-radius: 15px;
  font-weight: 700;
  white-space: no-wrap;
  display: flex;
  vertical-align: middle;
  position: relative;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 1.6rem;
  background-color: var(--color-smoky-black);
  color: var(--color-pure-white);
  user-select: none;
}

.flashcards-picture,
.flashcards-image {
  width: 90%;
}

.flashcards-picture {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 40.625em) {
  .container {
    flex-direction: column-reverse;
    max-height: calc(var(--opportunities-highlight-height-medium) * 2);
    height: fit-content;
    padding: 4rem 0;
  }

  .details-container {
    justify-content: center;
    padding: 0 3rem;
    gap: 1.6rem;
  }

  .flashcards-container {
    justify-content: center;
    align-items: center;
  }

  .flashcards-picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .details-paragraph,
  .details-heading {
    max-width: 100%;
    width: 100%;
  }
}

@media only screen and (max-height: 37.5em) {
  .container {
    height: var(--opportunities-highlight-height-medium);
  }
}

@media only screen and (max-height: 31.25em) {
  .contianer {
    height: calc(var(--opportunities-highlight-height-medium) * 1.5);
  }
}

@media only screen and (max-height: 21.875em) {
  .container {
    height: calc(var(--opportunities-highlight-height) * 2);
  }
}
