/* Importing base styles from an external SCSS file */
@import "../../styles/initialization.scss";

// Styles for main container
.container {
  // Giving container flex layout
  display: flex;

  // Centering items vertically
  align-items: center;

  // Adding Horizontal Gap
  gap: var(--homepage-introduction-horizontal-container-gap);

  // Adding vertical padding
  padding: var(--homepage-introduction-padding) 0;

  // Giving container full width
  width: 100%;

  // Setting a background color
  background-color: var(--color-contrast-gray);
}

// Styles for left and right side
.content-container,
.image-container {
  // Giving each part the complete shared width
  width: 100%;

  // Setting a background color
  background-color: var(--color-contrast-gray);
}

// Styles for text / content container
.content-container {
  // Giving it a vertical flex layout
  display: flex;
  flex-direction: column;

  // Giving a vertical gap
  gap: var(--homepage-introduction-content-vertical-gap);

  // Giving a horizontal padding
  padding: 0 var(--homepage-introduction-padding);

  // Removing all the right-side padding
  padding-right: 0;

  // Adding a slide-in-from-left animation
  animation: moveInLeft var(--general-animation-time) ease-out;
  animation-fill-mode: backwards;
}

// Styles for image container
.image-container {
  // Giving the container all the available height and width
  width: 100%;
  height: 100%;

  // Giving it 10rem horizontal padding
  padding: 0 var(--homepage-introduction-padding);

  // Removing all the left-side padding
  padding-left: 0;

  // Adding a slide-in-from-right animation
  animation: moveInRight var(--general-animation-time) ease-out;
  animation-fill-mode: backwards;
  animation-delay: var(
    --homepage-introduction-image-animation-delay
  ); // Little delay for when the image loads

  // Styles for the picture container in the image container
  picture {
    // Giving the picture element all available width and height
    width: 100%;
    height: 100%;

    // Styles for the picture in the image container
    img {
      // Giving the image all the available width and height
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }
}

// Styles for the heading
.heading {
  // Setting font family
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  // Adjusting font size
  font-size: 3rem;
}

// Styles for the paragraph / details
.para {
  // Setting a font family
  font-family: "Montserrat", sans-serif;

  // Adjusting font size
  font-size: 2rem;

  // Adjusting font weight
  font-weight: 500;
}

// Styles for all the parts of the component that are blue
.blue {
  // Changing text color to the contrast color
  color: var(--color-contrast);

  // Styles on text selection
  &::selection {
    // Changing text color to white since background is blue
    color: var(--color-pure-white);

    // Chaning background to blue
    background-color: var(--color-contrast);
  }
}

.button {
  @include generalButtonStyles(20rem);
  animation: moveInBottom var(--general-animation-time) ease-out;
  animation-fill-mode: backwards;
}

@media only screen and (max-width: 53.75em) {
  .image-container {
    display: none;
  }

  .content-container {
    padding: 0 6rem;
  }
}

@media only screen and (max-width: 46.875em) {
  .heading {
    font-size: 3.3rem;
    text-align: center;
  }

  .para {
    text-align: center;
  }

  .button {
    align-self: center;
  }
}
