@import "../../styles/initialization.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 10rem 0;
  background-color: var(--color-contrast-gray);
  align-items: center;
}

.content-container,
.image-container {
  width: 100%;
  background-color: var(--color-contrast-gray);
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 10rem;
  padding-right: 0;
}

.image-container {
  width: 100%;
  height: 100%;
  padding: 0 10rem;
  padding-left: 0;

  picture {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }
}

.heading {
  font-size: 3rem;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.para {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.blue {
  color: var(--color-contrast);

  &::selection {
    background-color: var(--color-contrast);
    color: var(--color-pure-white);
  }
}

.button {
  text-decoration: none;
  border: 0.35rem solid var(--color-smoky-black);
  background-color: var(--color-smoky-black);
  color: var(--color-pure-white);
  width: fit-content;
  padding: 0.6rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  min-width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;

  &:hover {
    transform: translateY(-0.5rem);
  }
}

@media only screen and (max-width: 53.75em) {
  .image-container {
    display: none;
  }

  .content-container {
    padding: 0 6rem;
  }
}

@media only screen and (max-width: 46.875em) {
  .heading {
    font-size: 3.3rem;
  }
}
