@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.footer {
  height: 100%;
  width: 100%;
  grid-column: 1/-1;

  border-top: 2px solid black;
  border-radius: 2px;
}

.social-links-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;

  li {
    font-size: 2rem;

    color: rgb(80, 80, 80);

    a {
      color: rgb(80, 80, 80);
      font-family: Comfortaa, sans-serif;
      text-decoration: none;
    }
    a:hover{
      color: var(--color-smoky-black);
      text-decoration: underline;
    }
  }
}
