// ! GLOBAL ANIMATIONS

// ** Slide in from bottom **
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// ** Slide in from top **
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// ** Slide in from right **
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// ** Slide in from left **
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// Slide in from left - for navbar only
@keyframes navbarMoveInLeft {
  0% {
    transform: translateX(calc(-1 * var(--navbar-phone-width)));
  }

  100% {
    transform: translateX(0);
  }
}

// ** Fade In **
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// ** Jiggle Animation **
@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(6deg);
  }
}

// ** Flipping from left to right **
@keyframes horizontalFlip {
  100% {
    transform: rotateY(180deg); /* ALSO EXTRA TRANSFORM PROPERTIES ADDED FOR COMPATIBILITY*/
  }
}

// ** One full rotation **
@keyframes rotate360 {
  100% {
    transform: rotate(360deg);
  }
}

// Spinning - For loader
@keyframes infitesimalSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
