:root {
  // ** COLOR THEME **
  // Shades of Black and White
  --color-smoky-black: #12100e;
  --color-pure-black: #0c0404;
  --color-white: #edecd6;
  --color-pure-white: #f7fff7;
  --color-light-gray: #bac7c5;
  --color-slightly-light-gray: #a0a0a0;
  --color-gray: #5e5e5e;
  --color-dark-gray: #1f1f1f;
  --color-bone-gray: #413e3a;

  // Primary and important colors
  --color-beaver: #9d816c;
  --color-beaver-light: #baa798;
  --color-beaver-dark: darken(#8d7461, 20%);
  --color-vanilla: #eee3ab;
  --color-vanilla-light: #f7f1d5;
  --color-vanilla-dark: #8f8867;
  --color-bone: #d9cfc1;
  --color-bone-dark: #aea69a;
  --color-bone-light: #e4ddd4;
  --color-form-input: #d9d9d9;

  // Secondary Color
  --color-secondary: #f8333c;
  --color-secondary-light: #fb858a;
  --color-secondary-dark: #4a0f12;

  // Tertiary Color
  --color-tertiary: #80a1c1;
  --color-tertiary-dark: #4d6174;
  --color-tertiary-very-dark: #1e272f;
  --color-tertiary-light: #a6bdd4;

  // Contrast Color
  --color-contrast: #4ecdc4;
  --color-contrast-dark: #1f524e;
  --color-contrast-light: #95e1dc;
  --color-contrast-blue: #2200ff;

  // ** BACKGROUND **
  --background-gradient: radial-gradient(at right, #6a93f1 0%, #12100e 100%),
    radial-gradient(at left, #6a93f1 0%, #12100e 60%);
  --background-solid: #6a93f1;

  // ** NAVBAR **
  --navbar-horizontal-padding: 6rem;
  --navbar-height: 10vh;
  --navbar-box-shadow-spread: 3rem;
  --navbar-header-font-size: 4.8rem;
  --navbar-header-font-weight: 700;
  --navbar-header-line-height: 5.8rem;
  --navbar-animation-time: 2s;
  --navbar-navlink-font-weight: 500;
  --navbar-navling-font-size: 3rem;

  // ** HEADER **
  --header-button-gap: 4rem;
  --header-font-size: 3.7rem;
  --header-line-height: 8rem;
  --header-font-weight: 400;
  --heading-logo-height: 7.8rem;
  --header-animation-time: 2s;
  --header-subheading-font-size: 6.5rem;
  --header-subheading-font-weight: 300;
  --header-heading-font-size: 9rem;
  --header-heading-font-weight: 700;

  // Header Button
  --header-button-font-size: 2.4rem;
  --header-button-font-weight: 700;
  --header-button-hover-animation-timing: 0.2s;
  --header-button-animation-timing: 0.4s;
  --header-button-padding-horizontal: 7rem;
  --header-button-padding-vertical: 0;
  --header-button-border-radius: 0.9vw;
  --header-button-margin-left: 4rem;
  --header-button-hover-box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2);
  --header-button-active-box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.2);
  --header-button-hover-movement-distance: -3px;
  --header-button-active-movement-distance: -1px;
  --header-button-hover-animation-horizontal-scaling: 1.2;
  --header-button-hover-animation-vertical-scaling: 1.6;

  // Fonts
  --logo-font: "Montserrat", sans-serif;

  // **OPPORTUNITIES PAGE**
  --opportunities-container-gap: 6rem;
  --opportunities-container-margin: 4rem;

  // Opportunity Cards
  --opportunity-card-padding: 3rem;
  --opportunity-card-hover-animation-time: 0.4s;
  --opportunity-card-hover-distance: -1rem;
  --opportunity-card-border-radius: 1.6rem;
  --opportunity-card-box-shadow-spread: 0.3rem;
  --opportunity-card-box-shadow-blur: 1.5rem;
  --opportunity-card-box-shadow-y-offset: 0.8rem;

  // ** LANDING PAGE **
  // Content
  --landing-error-text-font-size: 2rem;
  --landing-error-text-font-weight: 600;
  --landing-heading-line-height: 1;
  --landing-heading-top-font-size: 7.5rem;
  --landing-heading-top-font-family: Montserrat, sans-serif;
  --landing-heading-logo-height: 7rem;
  --landing-heading-bottom-font-size: 3.7rem;
  --landing-heading-bottom-font-family: Syne, sans-serif;
  --landing-heading-bottom-font-weight: 700;
  --landing-sub-header-font-size: 2.7rem;
  --landing-sub-header-font-weight: 400;
  --landing-sub-header-margin-bottom: 1rem;
  --landing-sub-header-margin-top: 4.5rem;
  --landing-content-margin-left: 10rem;
  --landing-content-tab-margin-right: 10rem;
  --landing-phone-tab-padding: 1rem;

  // Form / Input
  --landing-input-padding: 1rem;
  --landing-input-height: 6rem;
  --landing-input-font-size: 2.8rem;
  --landing-button-padding: 0.7rem 1.5rem;
  --landing-button-font-size: 1.2rem;
  --landing-input-border-radius: 0.5rem 0 0 0.5rem;
  --landing-button-border-radius: 0 0.5rem 0.5rem 0;
  --landing-input-placeholder-font-size: 1em;
}
