:root {
  // ** Color Theme **
  // Shades of Black and White
  --color-smoky-black: #12100e;
  --color-pure-black: #0c0404;
  --color-white: #edecd6;
  --color-pure-white: #f7fff7;
  --color-light-gray: #bac7c5;
  --color-gray: #5e5e5e;
  --color-dark-gray: #1f1f1f;
  --color-bone-gray: #413e3a;

  // Primary and important colors
  --color-beaver: #9d816c;
  --color-beaver-light: #baa798;
  --color-beaver-dark: darken(#8d7461, 20%);
  --color-vanilla: #eee3ab;
  --color-vanilla-light: #f7f1d5;
  --color-vanilla-dark: #8f8867;
  --color-bone: #d9cfc1;
  --color-bone-dark: #aea69a;
  --color-bone-light: #e4ddd4;

  // Secondary Color
  --color-secondary: #f8333c;
  --color-secondary-light: #fb858a;
  --color-secondary-dark: #4a0f12;

  // Tertiary Color
  --color-tertiary: #80a1c1;
  --color-tertiary-dark: #4d6174;
  --color-tertiary-light: #a6bdd4;

  // Contrast Color
  --color-contrast: #4ecdc4;
  --color-contrast-dark: #1f524e;
  --color-contrast-light: #95e1dc;

  // ** Background **
  --background-gradient: radial-gradient(at right, rgb(106, 147, 241) 0%, rgb(18, 16, 14) 100%),
    radial-gradient(at left, rgb(106, 147, 241) 0%, rgb(18, 16, 14) 60%);
  --background-solid: rgb(18, 16, 14);

  // ** Navbar **
  --navbar-horizontal-padding: 6rem;
  --navbar-height: 10vh;
  --navbar-box-shadow-spread: 3rem;
  --navbar-header-font-size: 4.8rem;

  // ** Header **
  --header-button-gap: 4rem;
  --header-font-size: 3.7rem;
  --header-line-height: 8rem;
  --header-font-weight: 400;

  // Header Button
  --header-button-font-size: 2.4rem;
  --header-button-font-weight: 700;
  --header-button-hover-animation-timing: 0.2s;
  --header-button-animation-timing: 0.4s;
  --header-button-padding-horizontal: 7rem;
  --header-button-padding-vertical: 0;
  --header-button-border-radius: 1vw;
  --header-button-margin-left: 4rem;
  --header-button-hover-box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.2);
  --header-button-active-box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.2);
  --header-button-hover-movement-distance: -3px;
  --header-button-active-movement-distance: -1px;
  --header-button-hover-animation-horizontal-scaling: 1.2;
  --header-button-hover-animation-vertical-scaling: 1.6;

  //Fonts
  --logo-font: "Montserrat", sans-serif;
}
