:root {
  // ** GENERAL **
  --general-animation-time: 0.7s;

  // ** COLOR THEME **
  // Shades of Black and White
  --color-smoky-black: #12100e;
  --color-pure-black: #0c0404;
  --color-white: #edecd6;
  --color-pure-white: #f7fff7;
  --color-very-light-gray: #f0f0f0;
  --color-light-gray: #bac7c5;
  --color-slightly-light-gray: #4a5568;
  --color-gray: #5e5e5e;
  --color-dark-gray: #1f1f1f;
  --color-contrast-gray: #e9ecf3;

  // Primary and important colors
  --color-beaver: #9d816c;
  --color-beaver-light: #baa798;
  --color-beaver-dark: darken(#8d7461, 20%);
  --color-vanilla: #eee3ab;
  --color-vanilla-light: #f7f1d5;
  --color-vanilla-dark: #8f8867;
  --color-bone: #d9cfc1;
  --color-bone-dark: #aea69a;
  --color-bone-light: #e4ddd4;
  --color-form-input: #d9d9d9;
  --color-contrast: #4c7bf4;

  // ** BACKGROUND **
  --background-gradient: radial-gradient(at right, #6a93f1 0%, #12100e 100%),
    radial-gradient(at left, #6a93f1 0%, #12100e 60%);
  --background-solid: #6a93f1;

  // ** NAVBAR **
  --navbar-horizontal-padding: 3rem;
  --navbar-height: 9vh;
  --navbar-height-medium: 11vh;
  --navbar-height-large: 13vh;
  --navbar-box-shadow-spread: 3rem;
  --navbar-header-font-size: 3.3rem;
  --navbar-header-icon-size: 3.3rem;
  --navbar-header-font-weight: 700;
  --navbar-header-line-height: 5.8rem;
  --navbar-navlink-font-weight: 600;
  --navbar-navlink-font-size: 1.8rem;
  --navbar-navlink-font-size-small: 1.6rem;
  --navbar-navlink-font-size-big: 2.5rem;
  --navbar-navlink-line-height: 1.2;
  --navbar-navlink-phone-font-size: 2.4rem;
  --navbar-navlink-phone-padding: 2rem;
  --navbar-button-padding-large: 0.9rem 1.8rem;
  --navbar-button-padding-small: 0.7rem 1.4rem;
  --navbar-button-padding-xsmall: 0.55rem 1.3rem;
  --navbar-button-font-size: 2rem;
  --navbar-dropdown-border-radius: 1rem;
  --navbar-button-border-radius: 8px;
  --navbar-button-width: 13rem;
  --navbar-button-height: 5.2rem;
  --navbar-button-gap: 1rem;
  --navbar-header-gap: 5.5rem;
  --navbar-link-gap: 3.8rem;
  --navbar-dropdown-icon-gap: 0.5rem;
  --navbar-dropdown-icon-height: 1.8rem;
  --navbar-dropdown-icon-offset-top: 3px;
  --navbar-dropdown-link-gap: 0.5rem;
  --navbar-dropdown-link-side-padding: 2rem;
  --navbar-dropdown-border-width: 2px;
  --navbar-dropdown-side-offset: -8%;
  --navbar-dropdown-animation-time: 0.4s;
  --navbar-dropdown-navlink-padding: 1rem 3.5rem;
  --navbar-toggler-font-size-large: 3rem;
  --navbar-border-width: 0.2vw;
  --navbar-phone-width: 45vw;
  --navbar-phone-gap: 4px;

  // ** HEADER **
  --header-gap: 2rem;
  --header-animation-time: 1s;
  --header-text-gap: 1rem;
  --header-heading-font-size: 5rem;
  --header-heading-line-height: 1.2;
  --header-heading-font-weight: 800;
  --header-subheading-font-size: 2.9rem;
  --header-subheading-font-weight: 500;
  --header-cta-gap: 2rem;
  --header-button-padding: 0.6rem 1.8rem;
  --header-button-width: 20rem;
  --header-button-border-width: 0.35rem;
  --header-button-border-radius: 1rem;
  --header-button-font-size: 2rem;
  --header-button-font-weight: 700;

  // **OPPORTUNITIES HIGHLIGHT**
  --opportunities-highlight-height: calc((100vh - var(--navbar-height-large)) / 2);
  --opportunities-highlight-height-medium: calc((100vh - var(--navbar-height-medium)) / 2);
  --opportunities-highlight-height-large: calc((100vh - var(--navbar-height)) / 2);

  // **OPPORTUNITIES PAGE**
  --opportunities-container-gap: 6rem;
  --opportunities-container-margin: 4rem;

  // Opportunity Cards
  --opportunity-card-padding: 3rem;
  --opportunity-card-hover-animation-time: 0.4s;
  --opportunity-card-hover-distance: -1rem;
  --opportunity-card-border-radius: 1.6rem;
  --opportunity-card-box-shadow-spread: 0.3rem;
  --opportunity-card-box-shadow-blur: 1.5rem;
  --opportunity-card-box-shadow-y-offset: 0.8rem;

  // ** LANDING PAGE **
  // Content
  --landing-error-text-font-size: 2rem;
  --landing-error-text-font-weight: 600;
  --landing-heading-line-height: 1;
  --landing-heading-top-font-size: 7.5rem;
  --landing-heading-logo-height: 7rem;
  --landing-heading-bottom-font-size: 3.7rem;
  --landing-heading-bottom-font-family: Syne, sans-serif;
  --landing-heading-bottom-font-weight: 700;
  --landing-sub-header-font-size: 2.7rem;
  --landing-sub-header-font-weight: 400;
  --landing-sub-header-margin-bottom: 1rem;
  --landing-sub-header-margin-top: 4.5rem;
  --landing-content-margin-left: 10rem;
  --landing-content-tab-margin-right: 10rem;
  --landing-phone-tab-padding: 1rem;

  // Form / Input
  --landing-input-padding: 1rem;
  --landing-input-height: 6rem;
  --landing-input-font-size: 2.8rem;
  --landing-button-padding: 0.7rem 1.5rem;
  --landing-button-font-size: 1.2rem;
  --landing-input-border-radius: 0.5rem 0 0 0.5rem;
  --landing-button-border-radius: 0 0.5rem 0.5rem 0;
  --landing-input-placeholder-font-size: 1em;

  // **FOOTER**
  --footer-padding: 6.4rem 6.7rem 8rem 6.7rem;
  --footer-phone-content-gap: 4.8rem;
  --footer-row-gap: 6.4rem;
  --footer-phone-row-gap: 1.6rem;
  --footer-heading-font-size: 3rem;
  --footer-heading-icon-height: 3rem;
  --footer-column-content-gap: 1.6rem;
  --footer-column-heading-font-size: 1.4rem;
  --footer-phone-column-heading-font-size: 1.8rem;
  --footer-column-heading-font-weight: 500;
  --footer-column-heading-letter-spacing: 0.1rem;
  --footer-column-heading-opacity: 0.85;
  --footer-column-heading-line-height: 1.5;
  --footer-link-gap: 1.6rem;
  --footer-link-font-size: 1.6rem;
  --footer-phone-link-font-size: 1.8rem;
  --footer-link-line-height: 1.5;
  --footer-link-letter-spacing: 1px;
  --footer-link-hover-opacity: 0.8;
  --footer-copyright-text-gap: 0.2rem;
  --footer-copyright-text-font-size: 1.65rem;
  --footer-socials-gap: 1rem;
  --footer-socials-opcaity: 0.85;
  --footer-socials-hover-opacity: 0.6;
  --footer-socials-icon-side-length: 2.3rem;
}

@media only screen and (max-width: 62.5em) {
  :root {
    --navbar-navlink-font-size: 2.1rem;
  }
}

@media only screen and (max-width: 46.875em) {
  :root {
    --navbar-header-gap: 0;
  }
}
