@import "../../styles/initialization.scss";

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 10000;
  justify-content: center;
  cursor: pointer;
}

.popup {
  height: 80vh;
  width: 80vw;
  background-color: var(--color-pure-white);
  opacity: 10;
  z-index: 10001;
  border-radius: 5rem;
  position: relative;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  cursor: default;
}

.closer {
  position: absolute;
  right: 3rem;
  z-index: 10005;
  top: 2rem;
  cursor: pointer;
}
