@import "../../styles/initialization.scss";

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: #f5f5f5;
  padding: 3rem 6rem;
  border-radius: 1.3rem;
  border: 3.5px solid black;
}

.left {
  animation: moveInLeft 0.5s ease;
}
.right {
  animation: moveInRight 0.5s ease;
}

.top,
.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom {
  align-items: flex-end;
}

.heading {
  font-family: "DM Serif Display", serif;
  color: var(--color-smoky-black);
  letter-spacing: 0.3px;
  font-size: 3.4rem;
  letter-spacing: 0.3px;
  font-weight: 500;
}

.picture {
  max-height: 6rem;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

.image {
  height: 100%;
  background-color: transparent;
  border-radius: 4px;
}

.details {
  display: flex;
  gap: 4rem;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  text-align: center;
}

.icon {
  font-size: 4rem;
  margin-bottom: 0.6rem;
  color: var(--color-smoky-black);
  height: 4rem;
}

.calendar:hover {
  animation: horizontalFlip 1s;
}

.clock:hover {
  animation: rotate360 1s ease;
}

.money:hover {
  animation: jiggle 0.3s;
  animation-iteration-count: 2;
}

.detail-key {
  font-family: "montserrat", Helvetica, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.3px;

  margin-bottom: 0.5rem;
}

.detail-value {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  width: 150%;
}

.button {
  text-decoration: none;
  border: 0.35rem solid var(--color-smoky-black);
  background-color: var(--color-smoky-black);
  color: var(--color-pure-white);
  width: fit-content;
  padding: 1.2rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 600;
  min-width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
  height: fit-content;

  &:hover {
    transform: translateY(-0.5rem);
  }
}
