// ** Importing Base Styles **
@import "../../styles/initialization.scss";

// ** Container **
.container {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  animation: moveInBottom var(--general-animation-time) ease-out;
  animation-fill-mode: backwards;
}

// ** Styling Headings **
.heading {
  color: var(--color-contrast);

  &::selection {
    background-color: var(--color-contrast);
    color: var(--color-pure-white);
  }

  font-size: 3rem;
  width: 40vw;
  max-width: fit-content;

  span {
    color: var(--color-smoky-black);

    &::selection {
      background-color: var(--color-smoky-black);
      color: var(--color-pure-white);
    }
  }

  margin-bottom: 5rem;
  animation: moveInLeft var(--general-animation-time) ease-out;
  animation-fill-mode: backwards;
}

.sub-heading {
  font-size: 2.4rem;
  text-align: center;

  margin-bottom: 2rem;
}

// ** Styling Images **
.image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  picture {
    width: 30%;
    display: flex;
    justify-content: center;
    animation: moveInBottom var(--general-animation-time) ease-out;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    cursor: pointer;
  }
}

.tmhs-image {
  width: 10rem;
}

.ayika-image {
  width: 17rem;
}

.threco-image {
  width: 17rem;
}

// Button
.button {
  text-decoration: none;
  border: 0.35rem solid var(--color-smoky-black);
  background-color: var(--color-smoky-black);
  color: var(--color-pure-white);
  width: fit-content;
  padding: 0.6rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 700;
  min-width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
  align-self: center;

  margin-top: 2rem;

  // Hover Animation
  &:hover {
    transform: translateY(-0.5rem);
  }
}

// ** Slight adjustments for responsiveness **
@media only screen and (max-width: 46.875em) {
  .heading {
    width: 100%;
    font-size: 3.3rem;
    text-align: center;
  }

  .sub-heading {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 36.25em) {
  // Switching to column layout
  .image-container {
    flex-direction: column;
    gap: 5rem;

    picture {
      width: 100%;
      height: fit-content;
    }
  }
}

@media only screen and (max-width: 31.25em) {
  .container {
    padding: 4rem;
  }
}
