@import "../../styles/initialization.scss";

.container {
  padding: 6rem;
  display: flex;
  flex-direction: column;
}

.heading {
  color: var(--color-contrast);

  &::selection {
    background-color: var(--color-contrast);
    color: var(--color-pure-white);
  }

  font-size: 3rem;
  width: 40vw;
  max-width: fit-content;

  span {
    color: var(--color-smoky-black);

    &::selection {
      background-color: var(--color-smoky-black);
      color: var(--color-pure-white);
    }
  }

  margin-bottom: 5rem;
}

.sub-heading {
  font-size: 2.4rem;
  text-align: center;

  margin-bottom: 2rem;
}

.image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  picture {
    width: 30%;
    display: flex;
    justify-content: center;
  }
}

.studo-image {
  width: 10rem;
}

.ayika-image {
  width: 17rem;
}

.threco-image {
  width: 17rem;
}

.button {
  text-decoration: none;
  border: 0.35rem solid var(--color-smoky-black);
  background-color: var(--color-smoky-black);
  color: var(--color-pure-white);
  width: fit-content;
  padding: 0.6rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 600;
  min-width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
  align-self: center;

  margin-top: 2rem;

  &:hover {
    transform: translateY(-0.5rem);
  }
}

@media only screen and (max-width: 46.875em) {
  .heading {
    width: 80vw;
    font-size: 3.3rem;
  }

  .sub-heading {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 36.25em) {
  .image-container {
    flex-direction: column;
    gap: 5rem;

    picture {
      width: 100%;
      height: fit-content;
    }
  }

  .heading {
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 31.25em) {
  .container {
    padding: 4rem;
  }
}
