@import "../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

.spin {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 5px solid var(--color-gray);
  border-radius: 50%;
  border-top-color: var(--color-smoky-black);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

#landing {
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 90% 10%;
  align-items: center;

  color: var(--color-smoky-black);

  background-color: var(--color-pure-white);

  form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    input {
      padding: var(--landing-input-padding);
      width: 100%;
      height: var(--landing-input-height);
      // border-radius: 10rem;
      outline: none;
      border: none;
      overflow: hidden;
      font-size: var(--landing-input-font-size);
      background: var(--color-form-input);
      border-radius: var(--landing-input-border-radius);

      &::-webkit-input-placeholder {
        font-size: var(--landing-input-placeholder-font-size);
      }

      &:-moz-placeholder {
        font-size: var(--landing-input-placeholder-font-size);
      }

      &::-moz-placeholder {
        font-size: var(--landing-input-placeholder-font-size);
      }

      &:-ms-input-placeholder {
        font-size: var(--landing-input-placeholder-font-size);
      }
    }

    // input:focus {
    //   background: var(--color-form-input);
    // }

    button {
      height: var(--landing-input-height);
      outline: none;
      border: none;
      cursor: pointer;
      background-color: var(--color-form-input);
      border-radius: var(--landing-button-border-radius);
    }
  }
}

.landing-page {
}

.button-submit {
  padding: var(--landing-button-padding); /* Increase padding to adjust size */
  font-size: var(--landing-button-font-size); /* Increase font size */
  color: var(--color-smoky-black);
  border: none;
  cursor: pointer;
  background-color: var(--color-form-input);
}

.error-text {
  color: var(--color-secondary-dark);
  font-size: var(--landing-error-text-font-size);
  font-weight: var(--landing-error-text-font-weight);
}

.hidden {
  opacity: 0;
}

.heading {
  color: var(--color-smoky-black);
  line-height: var(--landing-heading-line-height);

  display: flex;
  flex-direction: column;
  align-items: left;
}

.heading-top {
  font-size: var(--landing-heading-top-font-size);
  font-family: var(--landing-heading-top-font-family);
  display: flex;
  align-items: center;

  color: var(--color-smoky-black);

  img {
    height: var(--landing-heading-logo-height);
  }
}

.heading-bottom {
  font-size: var(--landing-heading-bottom-font-size);
  font-family: var(--landing-heading-bottom-font-family);
  font-weight: var(--landing-heading-bottom-font-weight);
  color: var(--color-smoky-black);
}

.sub-header {
  font-size: var(--landing-sub-header-font-size);
  font-weight: var(--landing-sub-header-font-weight);
  color: var(--color-smoky-black);
  margin-bottom: var(--landing-sub-header-margin-bottom);
  margin-top: var(--landing-sub-header-margin-top);
}

.landing-content {
  margin-left: var(--landing-content-margin-left);
}

.landing-image {
  display: flex;
  justify-content: center;
}

.landing_image_picture_desktop {
  max-width: 40vw;
}

@media only screen and (max-width: 83.125em) {
  .landing-image {
    display: none;
  }

  .landing-page {
    padding-right: var(--landing-phone-tab-padding);
    padding-left: var(--landing-phone-tab-padding);
  }

  .landing-content {
    margin-right: var(--landing-content-tab-margin-right);
    text-align: center;
  }

  .heading-top {
    display: flex;
    justify-content: center;
  }

  #landing {
    form {
      justify-content: center;
    }
  }

  .error-text {
    text-align: left;
  }
} // 1330px

@media only screen and (max-width: 40.625em) {
  .landing-content {
    margin: 0;
  }

  #landing {
    grid-template-columns: 1fr;
  }

  #landing form {
    input {
      width: 100%;
    }
  }
} // 650px;
