@import "../styles/mixins";

#landing {
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  color: var(--color-smoky-black);

  background-color: var(--color-pure-white);

  form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    input {
      padding: 1rem;
      width: 53rem;
      height: 6rem;
      // border-radius: 10rem;
      outline: none;
      border: none;
      overflow: hidden;
      font-size: 3.3rem;
      background: #d9d9d9;
    }

    button {
      height: 6rem;
      // border-top-right-radius: 10rem;
      // border-bottom-right-radius: 10rem;
      outline: none;
      border: none;
      cursor: pointer;
      background-color: #d9d9d9;
    }
  }
}

.button-submit {
  padding: 0.7rem 1.5rem; /* Increase padding to adjust size */
  font-size: 1.2rem; /* Increase font size */
  color: var(--color-smoky-black);
  border: none;
  cursor: pointer;
  background-color: #d9d9d9;
}

.error-text {
  color: var(--color-secondary-dark);
  font-size: 2rem;
  font-weight: 600;
}

.hidden {
  opacity: 0;
}

.heading {
  color: var(--color-smoky-black);
  line-height: 1;

  display: flex;
  flex-direction: column;
  align-items: left;
}

.heading-top {
  font-size: 7.5rem;
  font-family: Montserrat, sans-serif;
  display: flex;
  align-items: center;

  color: var(--color-smoky-black);

  img {
    height: 7rem;
  }
}

.heading-bottom {
  font-size: 3.7rem;
  font-family: Syne, sans-serif;
  font-weight: 700;
  color: var(--color-smoky-black);
}

.sub-header {
  font-size: 2.7rem;
  font-weight: 400;
  color: var(--color-smoky-black);
  margin-bottom: 1rem;
  margin-top: 4.5rem;
}

.landing-content {
  margin-left: 10rem;
}

.landing-image {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 83.125em) {
  .landing-image {
    display: none;
  }

  #landing {
    grid-template-columns: 1fr;
  }

  .landing-content {
    margin-right: 10rem;
    text-align: center;
  }

  .heading-top {
    display: flex;
    justify-content: center;
  }

  #landing {
    form {
      justify-content: center;
    }
  }

  .error-text {
    text-align: left;
  }
} // 1330px

@media only screen and (max-width: 40.625em) {
  .landing-content {
    margin: 0;
  }
}
