@import "../styles/initialization.scss";

.container {
  padding: 2rem 4rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 6rem;
}

.right,
.left {
  width: 50%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.heading {
  font-size: 6rem;
  font-family: "montserrat", sans-serif;
}

.subheading {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 0.5rem;
}

.about-details {
  font-size: 1.6rem;
  line-height: 1.4;
}

.list {
  padding-left: 1.5rem;

  li {
    p,
    span {
      font-size: 1.6rem;
      line-height: 1.4;

      a {
        &:visited,
        &:link {
          cursor: pointer;
        }
      }
    }
  }
}

.cta-paragraph {
  font-size: 1.8rem;
}

@media only screen and (max-width: 46.875em) {
  .container {
    padding-top: calc(var(--navbar-height) + 2.5rem);
  }
}
