@import "../styles/initialization.scss";

.container {
  animation: fadeIn var(--general-animation-time) ease-out;
}

.loader {
  // animation: infitesimalSpin 0.8s ease-in-out infinite;
  animation-name: infitesimalSpin;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
