@import "../styles/initialization.scss";

.container {
  padding: 2rem 4rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 6rem;
}

.right,
.left {
  width: 50%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  animation: moveInLeft var(--general-animation-time) ease-out;
  animation-fill-mode: backwards;
}

.right {
  animation: moveInRight var(--general-animation-time) ease-out;
}

.heading {
  font-size: 6rem;
  font-family: "montserrat", sans-serif;
}

.logo {
  height: auto;
  width: auto;

  max-width: 15vw;
  max-height: 15vw;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }
}

.subheading {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 0.5rem;
}

.about-details {
  font-size: 1.6rem;
  line-height: 1.4;
}

.list {
  padding-left: 1.5rem;

  li {
    p,
    span {
      font-size: 1.6rem;
      line-height: 1.4;

      a {
        &:visited,
        &:link {
          cursor: pointer;
        }
      }
    }
  }
}

.cta-paragraph {
  font-size: 1.8rem;
}

.loader {
  // animation: infitesimalSpin 0.8s ease-in-out infinite;
  animation-name: infitesimalSpin;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  text-decoration: none;
  border: 0.35rem solid var(--color-smoky-black);
  background-color: var(--color-smoky-black);
  color: var(--color-pure-white);
  width: fit-content;
  padding: 0.6rem 0;
  border-radius: 1rem;
  font-size: 2rem;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  min-width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
  margin-top: 1.6rem;
  cursor: pointer;
  align-self: flex-start;

  &:hover {
    transform: translateY(-0.5rem);
  }
}

@media only screen and (max-width: 50em) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .right,
  .left {
    width: 80%;
    gap: 4rem;
  }

  .hide-phone {
    display: none;
  }
}

@media only screen and (max-width: 40em) {
  .right,
  .left {
    width: 90%;
  }
}

@media only screen and (max-width: 46.875em) {
  .container {
    padding-top: calc(var(--navbar-height) + 2.5rem);
  }
}
