/* Importing base styles from an external SCSS file */
@import "../../styles/initialization.scss";

/* Styles for main container */
.header {
  /* 
  Calculating the minimum height to use by giving the full viewport height
  The navbar height is subtracted to give the component just the remaining viewport
  */
  min-height: calc(100vh - var(--navbar-height));

  /* Giving full viewport width */
  width: 100%;

  /* Setting column flex layout */
  display: flex;
  flex-direction: column;

  /* Aligning content to the center vertically and horizontally */
  align-items: center;
  justify-content: center;

  /* Adjusting gap between items vertically */
  gap: var(--header-container-gap);

  /* Transparent background color */
  background-color: transparent;
}

/* Styling for text parts */
.heading,
.desc {
  /* Giving vertical flex layout because the heading and description both have 2 rows */
  display: flex;
  flex-direction: column;

  /* Bringing the rows to the center horizontally */
  text-align: center;
}

.text {
  /* Adjusting gap between header and description */
  gap: var(--header-text-gap);
}

/* Styles for the main heading */
.heading {
  /* Adjusting font family */
  font-family: "Montserrat", sans-serif;

  /* Adjusting font-size */
  font-size: var(--header-heading-font-size);

  /* Adjusting line height */
  line-height: var(--header-heading-line-height);

  /* Adjusting font weight */
  font-weight: var(--header-heading-font-weight);
}

/* Styles for the second line of the header */
.header-line-2 {
  /* Giving the second line a contrast color */
  color: var(--color-contrast);

  /* Styles for when the line is selected */
  &::selection {
    /* Giving a white text color */
    color: var(--color-pure-white);

    /* Giving a blue background color */
    background-color: var(--color-contrast);
  }
}

/* Styles for the description / subheading */
.desc {
  /* Adjusting font family */
  font-family: "Montserrat", sans-serif;

  /* Adjusting font size */
  font-size: var(--header-subheading-font-size);

  /* Adjusting font weight */
  font-weight: var(--header-subheading-font-weight);

  /* Setting text color */
  color: var(--color-dark-gray);
}

/* 
This line contains all the text. 
It is used when the 2 lines look ugly on smaller screens. 
For now we hide it, because we are using 2 lines.
*/
.desc-line-all {
  display: none;
}

/* Styles for the cta section / buttons container */
.cta {
  /* Setting flex layout */
  display: flex;

  /* Setting a gap between buttons */
  gap: var(--header-cta-gap);
}

/* Styles for buttons */
.btn {
  @include generalButtonStyles(var(--header-button-width));
}

/* Styles for filled button */
.btn-filled {
  /* Since it's filled, give the background a solid black color */
  background-color: var(--color-smoky-black);

  /* Change text color to white because background is black */
  color: var(--color-pure-white);
}

/* Styles for outlined button */
.btn-outline {
  /* Changing background color to white because it just has an outline */
  background-color: var(--color-pure-white);

  /* Changing color to black because background is white */
  color: var(--color-smoky-black);
}

/* Responsiveness */
@media only screen and (max-width: 48.875em) {
  /* Container styles on phone */
  .header {
    /* Giving header the maximum height */
    height: 100vh;
  }

  /* Styles on the main heading on phone */
  .heading {
    /* Changing font size */
    font-size: var(--header-heading-small-font-size);
  }

  /* Styles on the description / subheading on phone */
  .desc {
    /* Changing font size */
    font-size: var(--header-subheading-small-font-size);
  }
}

@media only screen and (max-width: 37.5em) {
  /* Container styles on phone */
  .header {
    /* Giving slight margin horizontally */
    margin: 0 var(--header-smaller-screen-margin);

    /* Setting width to just take the required amount of space */
    width: fit-content;
  }

  /* Styles on the description / subheading on phone */
  .desc {
    /* Aligning text to the center */
    text-align: center;
  }

  /* 
  Since now the screen is small enough, the 2 lines look bad. 
  To fix this, we show just one line with linebreaks depending on width instead of 2 fixed lines. 
  These are styles for the 1 mixed line
  */
  .desc-line-all {
    /* Setting a flex layout */
    display: flex;

    /* Centering content horizontally */
    justify-content: center;
  }

  /* Styles for the 2 fixed lines. */
  .desc-line-1,
  .desc-line-2 {
    /* Hiding the content */
    display: none;
  }
}

@media only screen and (max-width: 25.375em) {
  /* Styles for the button container / cta section */
  .cta {
    /* Setting button container to column flex because of lesser screen width */
    flex-direction: column;
  }

  /* Styles for the main heading */
  .heading {
    /* Changing font size */
    font-size: var(--header-heading-x-small-font-size);
  }

  /* Styles for the description / subheading */
  .desc {
    /* Changing font size */
    font-size: var(--header-subheading-x-small-font-size);
  }
}

@media only screen and (max-width: 20.875em) {
  /* Styles for the main heading */
  .heading {
    /* Changing font size */
    font-size: var(--header-heading-x-x-small-font-size);
  }

  /* Styles for the description / subheading */
  .desc {
    /* Changing font size */
    font-size: var(--header-subheading-x-x-small-font-size);
  }
}
