@import "../../styles/initialization.scss";

.header__heading {
  font-family: var(--logo-font);
  justify-self: center;
  text-align: center;
  display: flex;
  align-items: flex-end;
  font-size: var(--header-heading-font-size);
  font-weight: var(--header-heading-font-weight);

  img {
    height: var(--heading-logo-height);
  }
}

.header__subheading {
  font-family: var(--logo-font);
  align-self: center;
  text-align: center;

  font-size: var(--header-subheading-font-size);
  font-weight: var(--header-subheading-font-weight);
}

.headerContent {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--header-button-gap);

  text-align: left;
  font-style: normal;
  font-size: var(--header-font-size);
  line-height: var(--header-line-height);

  color: var(--color-smoky-black);
  animation: moveInBottom var(--header-animation-time) ease-out;
  animation-fill-mode: backwards;
}

.header__button {
  animation: moveInBottom var(--header-animation-time) ease-out;
  animation-fill-mode: backwards;

  align-self: center;

  &:link,
  &:visited {
    outline: none;
    border: none;
    border-radius: var(--header-button-border-radius);

    padding: var(--header-button-padding-vertical) var(--header-button-padding-horizontal);
    // margin-left: var(--header-button-margin-left);
    font-size: var(--header-button-font-size);

    color: var(--color-pure-white);
    background-color: var(--color-dark-gray);
    font-weight: var(--header-button-font-weight);
    text-decoration: none;
    font-size: inherit;

    transition: all var(--header-button-hover-animation-timing);
    position: relative;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(var(--header-button-hover-movement-distance));
    box-shadow: var(--header-button-hover-box-shadow);

    &::after {
      transform: scaleX(var(--header-button-hover-animation-horizontal-scaling))
        scaleY(var(--header-button-hover-animation-vertical-scaling));
      opacity: 0;
    }
  }

  &:active {
    cursor: pointer;
    transform: translateY(var(--header-button-active-movement-distance));
    box-shadow: var(--header-button-active-box-shadow);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: var(--header-button-border-radius);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all var(--header-button-animation-timing);
    background-color: var(--color-dark-gray);
  }
}
