@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import "../../styles/initialization.scss";

.navbar {
  color: var(--color-smoky-black);
  background-color: transparent;

  // Drop Shadow
  box-shadow: 0 0 var(--navbar-box-shadow-spread) var(--color-smoky-black);

  &__header {
    animation: moveInLeft var(--navbar-animation-time) ease-out;
    animation-fill-mode: backwards;

    a {
      &:link,
      &:visited {
        font-size: var(--navbar-header-font-size);
        text-decoration: none;
        font-weight: var(--navbar-header-font-weight);
        line-height: var(--navbar-header-line-height);
        letter-spacing: 0em;
        text-align: left;
        font-family: "Montserrat", sans-serif;

        color: var(--color-smoky-black);
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;

    &__item {
      animation: moveInRight var(--navbar-animation-time) ease-out;
      animation-fill-mode: backwards;
      a {
        font-size: var(--navbar-navling-font-size);
        text-decoration: none;
        color: var(--color-smoky-black);
        font-weight: var(--navbar-navlink-font-weight);
      }
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--navbar-horizontal-padding);

  height: var(--navbar-height);
}
