@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.navbar__gradient {
  color: var(--color-white);
  // background: rgb(18, 16, 14);
  // background-image: radial-gradient(at top, rgba(73, 98, 157, 1) 0%, rgb(18, 16, 14) 100%);
  // background-size: 100vh;

  // Drop Shadow
  box-shadow: 0 0 var(--navbar-box-shadow-spread) var(--color-smoky-black);

  &__header {
    a {
      &:link,
      &:visited {
        color: var(--color-pure-white);
      }
    }
  }

  &__list {
    &__item {
      a {
        text-decoration: none;
        color: var(--color-pure-white);
        font-weight: 500;
      }
    }
  }
}

.navbar__black {
  background-color: var(--color-smoky-black);
  color: var(--color-white);

  // Drop Shadow
  box-shadow: 0 0 var(--navbar-box-shadow-spread) var(--color-smoky-black);

  &__header {
    a {
      &:link,
      &:visited {
        color: var(--color-pure-white);
      }
    }
  }

  &__list {
    &__item {
      a {
        text-decoration: none;
        color: var(--color-pure-white);
        font-weight: 500;
      }
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--navbar-horizontal-padding);

  height: var(--navbar-height);

  &__header {
    a {
      &:link,
      &:visited {
        font-size: var(--navbar-header-font-size);
        text-decoration: none;
        font-weight: 700;
        line-height: 5.8rem;
        letter-spacing: 0em;
        text-align: left;
        font-family: "Montserrat", sans-serif;
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;

    &__item {
      a {
        font-size: 3rem;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}
