@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-white);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--navbar-horizontal-padding);

  height: var(--navbar-height);

  // Drop Shadow
  box-shadow: 0 0 var(--navbar-box-shadow-spread) var(--color-white);

  &__header {
    a {
      &:link,
      &:visited {
        font-size: var(--navbar-header-font-size);
        color: var(--color-pure-white);
        text-decoration: none;
        font-weight: 700;
        line-height: 5.8rem;
        letter-spacing: 0em;
        text-align: left;
        font-family: "Montserrat", sans-serif;
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;

    &__item {
      a {
        font-size: 3rem;
        text-decoration: none;
        color: var(--color-pure-white);
        font-weight: 500;
      }
    }
  }
}
