@import "../../styles/initialization.scss";

.link {
  animation: moveInLeft var(--navbar-animation-time) ease-out;
  display: flex;
  gap: var(--navbar-dropdown-icon-gap);
  align-items: center;
  text-align: center;

  animation-fill-mode: backwards;
  a {
    font-size: var(--navbar-navling-font-size);
    text-decoration: none;
    color: var(--color-smoky-black);
    font-weight: var(--navbar-navlink-font-weight);
    cursor: pointer;
  }

  h5 {
    font-size: var(--navbar-navling-font-size);
    text-decoration: none;
    color: var(--color-smoky-black);
    font-weight: var(--navbar-navlink-font-weight);
    cursor: pointer;
  }
}

.link-icon {
  height: var(--navbar-dropdown-icon-height);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: var(--navbar-dropdown-icon-offset-top);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--color-pure-white);
  padding-top: var(--navbar-dropdown-link-gap);
  padding-bottom: var(--navbar-dropdown-link-gap);
  padding-right: var(--navbar-dropdown-link-side-padding);
  padding-left: var(--navbar-dropdown-link-side-padding);
  gap: var(--navbar-dropdown-link-gap);
  border: var(--navbar-dropdown-border-width) solid var(--color-smoky-black);
  position: absolute;
  top: 115%;
  transform: translateX(var(--navbar-dropdown-side-offset));
  //   left: 50%;
  white-space: nowrap;
  border-radius: var(--navbar-dropdown-border-radius);
  animation-fill-mode: backwards;
  animation: fadeIn var(--navbar-dropdown-animation-time) ease-out;
}

.container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 46.875em) {
  .link {
    display: none;
  }
}
