@import "../../styles/initialization.scss";

.link {
  animation: moveInRight var(--general-animation-time) ease-out;
  display: flex;
  gap: var(--navbar-dropdown-icon-gap);

  align-items: center;
  text-align: center;

  animation-fill-mode: backwards;

  h5 {
    font-size: var(--navbar-navlink-font-size);
    text-decoration: none;
    color: var(--color-slightly-light-gray);
    font-weight: 600;
    font-family: "Inter", Arial, sans-serif;
    user-select: none;
    line-height: 1.2;
  }
}

.link-icon {
  height: var(--navbar-dropdown-icon-height);
  user-select: none;
  display: flex;
  align-items: center;
  color: var(--color-slightly-light-gray);
}

.list-container {
  justify-content: space-around;
  position: absolute;
  top: 100%;
  background-color: transparent;
  transform: translateX(calc(1 * var(--navbar-dropdown-side-offset)));
  animation-fill-mode: backwards;
  animation: fadeIn var(--navbar-dropdown-animation-time) ease-out;
}
.list {
  border: var(--navbar-dropdown-border-width) solid var(--color-light-gray);
  margin-top: 5%;
  background-color: var(--color-pure-white);
  white-space: nowrap;
  border-radius: var(--navbar-dropdown-border-radius);
  display: flex;
  flex-direction: column;
  padding-top: var(--navbar-dropdown-link-gap);
  padding-bottom: var(--navbar-dropdown-link-gap);
  gap: var(--navbar-dropdown-link-gap);
}

.container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.container-phone {
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  width: 100%;
  border-bottom: var(-navbar-border-width) solid var(--color-light-gray);
}

.list-container-phone {
  width: 100%;
}

@media only screen and (max-width: 46.875em) {
  .link {
    display: none;
  }

  .container {
    height: fit-content;
    gap: var(--navbar-phone-gap);
    border-bottom: var(--navbar-border-width) solid var(--color-light-gray);
    padding-bottom: var(--navbar-phone-gap);
  }

  .link-phone {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--navbar-navlink-phone-padding);
    cursor: pointer;
    &:hover {
      background-color: lighten(black, 90);
    }
  }

  .link {
    a,
    h5 {
      font-size: var(--navbar-navlink-phone-font-size);
    }
  }

  .link-icon {
    margin-top: 0;
  }

  .link-phone {
    h5 {
      color: var(--color-smoky-black);
      font-size: var(--navbar-navlink-font-size-big);
    }
  }
}
