@import "../../styles/initialization.scss";

.link {
  display: flex;
  align-items: center;
  text-align: center;
  height: fit-content;

  a {
    font-size: var(--navbar-navlink-font-size);
    text-decoration: none;
    color: var(--color-slightly-light-gray);
    font-weight: var(--navbar-navlink-font-weight);
    cursor: pointer;
    font-family: "Inter", Arial, sans-serif;
    user-select: none;
    line-height: var(--navbar-navlink-line-height);
  }
}

.link-standard {
  animation-fill-mode: backwards;
  animation: moveInLeft var(--general-animation-time) ease-out;
}

.link-dropdown {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  padding: 1rem var(--navbar-dropdown-link-side-padding);
  cursor: pointer;

  &:hover {
    background-color: lighten(black, 90%);
  }
  z-index: 1001;
}

.link-phone {
  a {
    color: var(--color-smoky-black);
  }
}

.link-dropdown-phone {
  a {
    color: var(--color-slightly-light-gray);
  }
}

.link-container-dropdown-phone {
  width: 100%;
}

@media only screen and (max-width: 46.875em) {
  .link {
    display: none;
    margin-top: auto;
    margin-bottom: auto;
  }

  .link {
    a,
    h5 {
      font-size: var(--navbar-navlink-phone-font-size);
    }
  }

  .link-phone {
    display: flex;
    width: 100%;
    padding: var(--navbar-navlink-phone-padding);
    position: relative;
    a {
      font-size: var(--navbar-navlink-font-size-big);
    }

    &:hover {
      cursor: pointer;
      background-color: lighten(black, 90);
    }
    margin-top: var(--navbar-phone-gap);
    margin-bottom: var(--navbar-phone-gap);
  }

  .link-standard-phone {
    border-bottom: var(--navbar-phone-gap) solid var(--color-pure-white);

    &::after {
      position: absolute;
      content: "";
      top: var(--navbar-phone-gap);
      left: 0;
      width: 100%;
      height: 100%;
      border-bottom: var(--navbar-border-width) solid var(--color-light-gray);
    }
  }

  .link-dropdown-phone {
    border: none;
    padding: var(--navbar-dropdown-navlink-padding);

    a {
      font-size: var(--navbar-navlink-font-size);
    }
  }
}

@media only screen and (max-width: 37.5em) {
  .link-dropdown-phone {
    a {
      font-size: var(--navbar-navlink-font-size-small);
    }
  }
}
