@import "../../styles/initialization.scss";

.navbar {
  color: var(--color-smoky-black);
  background-color: var(--color-pure-white);
  height: 100%;
  min-width: var(--navbar-phone-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 var(--navbar-horizontal-padding);
  position: fixed;
  border-right: var(--navbar-border-width) solid var(--color-light-gray);
  display: none;
  z-index: 1000;
  overflow: scroll;

  animation-fill-mode: backwards;
  animation: navbarMoveInLeft var(--general-animation-time) ease-out;
}

@media only screen and (max-width: 46.875em) {
  .navbar__header {
    display: none;
  }

  .navbar-toggler {
    display: flex;
  }

  .navbar {
    display: flex;
  }
}

@media only screen and (max-width: 34.375em) {
  .navbar-toggler {
    font-size: var(--navbar-toggler-font-size-small);
  }

  .button {
    padding: var(--navbar-button-padding-small);
  }

  .list {
    gap: 0;
  }
}

@media only screen and (max-width: 21.875em) {
  .navbar-toggler {
    font-size: var(--navbar-toggler-font-size-xsmall);
  }

  .button {
    padding: var(--navbar-button-padding-xsmall);
  }
}
