//! All Color Variables

:root {
  // Shades of Black and White
  --color-smoky-black: #12100e;
  --color-pure-black: #0c0404;
  --color-white: #edecd6;
  --color-pure-white: #f7fff7;
  --color-very-light-gray: #f0f0f0;
  --color-light-gray: #bac7c5;
  --color-slightly-light-gray: #4a5568;
  --color-gray: #5e5e5e;
  --color-dark-gray: #1f1f1f;
  --color-contrast-gray: #e9ecf3;
  --color-tertiary-gray: #ecf5ff;

  // Primary and important colors
  --color-beaver: #9d816c;
  --color-beaver-light: #baa798;
  --color-beaver-dark: darken(#8d7461, 20%);
  --color-vanilla: #eee3ab;
  --color-vanilla-light: #f7f1d5;
  --color-vanilla-dark: #8f8867;
  --color-bone: #d9cfc1;
  --color-bone-dark: #aea69a;
  --color-bone-light: #e4ddd4;
  --color-form-input: #d9d9d9;
  --color-contrast: #4c7bf4;
}
