//! All Introduction in HomePage Variables

:root {
  // Layout and Whitepsace
  --homepage-introduction-horizontal-container-gap: 5rem;
  --homepage-introduction-padding: 10rem;

  // Content Part
  --homepage-introduction-content-vertical-gap: 2rem; // Whitespace

  // Image Part
  --homepage-introduction-image-animation-delay: 1s; // Delay for animation
}
