.card {
  background-color: var(--color-smoky-black);
  height: 40rem;
  width: 30%;
  margin: 0 2.5%;
  top: 10%;
  border-radius: 3rem;
  overflow: hidden;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.active {
  background-color: red;
  height: 50rem;
  top: 0;
  transform: scale(1.666);
}
