@import "../../styles/initialization.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 6rem;
  background-color: var(--color-tertiary-gray);
  gap: 4.5rem;
  animation: moveInBottom var(--general-animation-time) ease-out;
  animation-fill-mode: backwards;
}

.content {
  text-align: center;
}

.heading {
  font-size: 3rem;
  color: var(--color-smoky-black);
  font-family: "montserrat";

  span {
    color: var(--color-contrast);
  }
}

.sub-heading {
  color: var(--color-dark-gray);
  font-size: 1.8rem;
  margin-top: 1rem;
}

.button {
  text-decoration: none;
  background-color: var(--color-smoky-black);
  color: var(--color-pure-white);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.3s;
  display: inline-block;
  margin-top: 2rem;

  &:hover {
    background-color: var(--color-dark-gray);
    transform: translateY(-0.2rem);
  }
}
