@import "../variables/general";

// ** General Button Styles **
@mixin generalButtonStyles($minWidth) {
  // Giving button a fixed, maximum width of the amount of space it requires.
  width: fit-content;

  // If fixed width is not big enough, a minwidth is set using the inputted value for smallest button size.
  min-width: $minWidth;

  // Giving button a flex layout
  display: flex;

  // Centering text and content vertically and horizontally
  text-align: center;
  align-items: center;
  justify-content: center;

  // Adding a vertical padding
  padding: var(--general-btn-vertical-padding) 0;

  // Disabling user text selection
  user-select: none;

  // Switching cursor to pointer to encourage clicking
  cursor: pointer;

  // Disabling line breaks in text
  white-space: no-wrap;

  // Removing all text decoration like underlines
  text-decoration: none;

  // Removing the outline and instead adding a black border
  outline: none;
  border: var(--general-btn-border);

  // Adding default border radius for rounded corners
  border-radius: var(--general-btn-border-radius);

  // Adding white text color
  color: var(--color-pure-white);

  // Adding black background color
  background-color: var(--color-smoky-black);

  // Setting a font family
  font-family: var(--general-btn-font-family);

  // Adjusting font size
  font-size: var(--general-btn-font-size);
  // Adjusting font weight
  font-weight: var(--general-btn-font-weight);

  // Adding a transition for the hover animation
  transition: all var(--general-btn-transition-time);

  // Styles in hovered state
  &:hover {
    // Making the button move upwards on hover
    transform: translateY(var(--general-btn-hover-transition-transformY-distance));
  }
}
